{% extends 'base.html.twig' %}

{% block title %}Author index{% endblock %}

{% block body %}
    <h1>Author index</h1>
    <a class="btn btn-outline-dark" href="{{ path('author_new') }}">Create new</a><br><br>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>BornDate</th>
                <th>Avatar</th>
                <th> </th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.name }}</td>
                <td>{{ author.surname }}</td>
                <td>{{ author.bornDate ? author.bornDate|date('Y-m-d') : '' }}</td>
                <td>{{ author.avatar }}</td>
                <td>
                    <a class="btn btn-outline-dark" href="{{ path('author_show', {'id': author.id}) }}">show</a></td>
                <td><a  class="btn btn-outline-primary" href="{{ path('author_edit', {'id': author.id}) }}">edit</a></td>

                <td><a  class="btn btn-outline-danger" href="{{ path('author_delete', {'id': author.id}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
