{% extends 'base.html.twig' %}

{% block title %}Author{% endblock %}

{% block body %}
    <h1>Author</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ author.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ author.name }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ author.surname }}</td>
            </tr>
            <tr>
                <th>BornDate</th>
                <td>{{ author.bornDate ? author.bornDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Avatar</th>
                <td>{{ author.avatar }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('author_index') }}">back to list</a>

    <a href="{{ path('author_edit', {'id': author.id}) }}">edit</a>

    {{ include('author/_delete_form.html.twig') }}
{% endblock %}
