{% extends 'base.html.twig' %}

{% block title %}Sign-in{% endblock %}
{% block navbar %}
{% endblock %}
{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Sign-in</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-outline-dark">Sign-in</button>
        <a href="{{ path('login') }}" class="btn btn-outline-blue" role="button">Login</a>
    {{ form_end(registrationForm) }}
{% endblock %}
