<form method="post" action="{{ path('book_type_delete', {'id': book_type.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book_type.id) }}">
    <button class="btn">Delete</button>
</form>
