{% extends 'base.html.twig' %}

{% block title %}Edit BookType{% endblock %}

{% block body %}
    <h1>Edit BookType</h1>

    {{ include('book_type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('book_type_index') }}">back to list</a>

    {{ include('book_type/_delete_form.html.twig') }}
{% endblock %}
