{% extends 'base.html.twig' %}

{% block title %}BookType index{% endblock %}

{% block body %}
    <h1>BookType index</h1>
    <a class="btn btn-outline-dark" href="{{ path('book_type_new') }}">Create new</a><br><br>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Category</th>
                <th> </th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
        {% for book_type in book_types %}
            <tr>
                <td>{{ book_type.id }}</td>
                <td>{{ book_type.category }}</td>
                <td>
                    <a class="btn btn-outline-dark" href="{{ path('book_type_show', {'id': book_type.id}) }}">show</a></td>
                <td> <a class="btn btn-outline-primary" href="{{ path('book_type_edit', {'id': book_type.id}) }}">edit</a></td>
                <td><a class="btn btn-outline-warning" href="{{ path('book_type_delete', {'id': book_type.id}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
