{% extends 'base.html.twig' %}

{% block title %}New BookType{% endblock %}

{% block body %}
    <h1>Create new BookType</h1>

    {{ include('book_type/_form.html.twig') }}

    <a href="{{ path('book_type_index') }}">back to list</a>
{% endblock %}
