{{ form_start(form) }}
    {{ form_widget(form) }}
<table>
    <tbody>
    <tr>
        <td>
            <button class="btn btn-outline-blue" role="button">{{ button_label|default('Save') }}</button>
        </td>
        <td>
            <a href="{{ path('book_index') }}" class="btn btn-outline-dark" role="button">Back to list</a>
        </td>
        <td>
            <form method="post" action="{{ path('book_delete', {'id': book.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book.id) }}">
                <button class="btn btn-outline-danger">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

{{ form_end(form) }}
