{{ form_start(form) }}
    {{ form_widget(form) }}
<table>
    <tbody>
    <tr>
        <td>
            <button class="btn btn-outline-blue" role="button">{{ button_label|default('Save') }}</button>
        </td>
        <td>
            <a href="{{ path('book_index') }}" class="btn btn-outline-dark" role="button">Back to list</a>
        </td>
    </tr>
    </tbody>
</table>

{{ form_end(form) }}
