{% extends 'base.html.twig' %}

{% block title %}Edit Book{% endblock %}

{% block body %}
    <h1>Edit Book</h1>
    {{ include('book/_edit_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
