{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <h1>Home</h1>
    <a href="{{ path('book_new') }}" class="btn btn-outline-dark" role="button">Create new</a>
    <br>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>NumPages</th>
            <th>Plot</th>
            <th>PublishDate</th>
            <th>Price</th>
            <th>Type</th>
            <th>Author</th>
            <th> </th>
            <th> </th>
            <th> </th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.numPages }}</td>
                <td>{{ book.plot }}</td>
                <td>{{ book.publishDate ? book.publishDate|date('Y-m-d') : '' }}</td>
                <td>{{ book.price }}</td>
                <td>{{ book.type }}</td>
                <td>{{ book.author }}</td>
                <td>
                    <a href="{{ path('book_show', {'id': book.id}) }}"class="btn btn-outline-dark" role="button">show</a>
                </td>
                <td>
                    <a href="{{ path('book_edit', {'id': book.id}) }}" class="btn btn-outline-primary" role="button">edit</a>
                </td>
                <td>
                    <a  class="btn btn-outline-danger" href="{{ path('book_delete', {'id': book.id}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
