{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    <h1>Book</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <th>NumPages</th>
                <td>{{ book.numPages }}</td>
            </tr>
            <tr>
                <th>Plot</th>
                <td>{{ book.plot }}</td>
            </tr>
            <tr>
                <th>PublishDate</th>
                <td>{{ book.publishDate ? book.publishDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ book.price }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ book.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('book_edit', {'id': book.id}) }}" class="btn btn-outline-blue" role="button">Edit</a>
    <a href="{{ path('book_index') }}" class="btn btn-outline-dark" role="button">Back to list</a>


{% endblock %}
