{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}
{% block navbar %}
    <div></div>
{% endblock %}
{% block body %}
    <h1>LOGIN</h1>
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <form action="{{ path('login') }}" method="post">
        <label for="username">Email:</label> <br>
        <input type="text" id="username" name="_username" value="{{ last_username }}"/><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="_password"/>
        <br><br>
        {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"/> #}
         <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
         <button type="submit" class="btn btn-outline-dark">Login</button>
         <a href="{{ path('app_register') }}" class="btn btn-outline-blue" role="button">Sign-in</a>
    </form>

{% endblock %}
