{% extends 'base.html.twig' %}

{% block title %}Search Books{% endblock %}

{% block body %}
    <h1>Search Books</h1>

    <form>
        <input class="form-control " type="search" placeholder="Search" aria-label="Search" name="_search"> <br>
        <div class="col text-center">
            <label for="cars">Show me this number of object: </label>
            <select name="_num">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
            </select><br>
            <input class="btn btn-outline-success my-2 my-sm-0" role="button" type="submit"></input>
        </div>
    </form>
    {% if full %}
        {% if maxPages == 1 %}
            <h1>Request: {{ request }}</h1> <br> <h1>Num: {{ num }}</h1><h1>MAX Pages: {{ maxPages }}</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>NumPages</th>
                    <th>Plot</th>
                    <th>PublishDate</th>
                    <th>Price</th>
                    <th>Type</th>
                    <th>Author</th>
                    <th> </th>
                    <th> </th>
                    <th> </th>
                </tr>
                </thead>
                <tbody>
                {% for book in books %}
                    <tr>
                        <td>{{ book.id }}</td>
                        <td>{{ book.title }}</td>
                        <td>{{ book.numPages }}</td>
                        <td>{{ book.plot }}</td>
                        <td>{{ book.publishDate ? book.publishDate|date('Y-m-d') : '' }}</td>
                        <td>{{ book.price }}</td>
                        <td>{{ book.type }}</td>
                        <td>{{ book.author }}</td>
                        <td>
                            <a href="{{ path('book_show', {'id': book.id}) }}"class="btn btn-outline-dark" role="button">show</a>
                        </td>
                        <td>
                            <a href="{{ path('book_edit', {'id': book.id}) }}" class="btn btn-outline-dark" role="button">edit</a>
                        </td>
                        <td>
                            <form method="post" action="{{ path('book_delete', {'id': book.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book.id) }}">
                                <button class="btn btn-outline-dark">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class = "col">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item disabled"><a class="page-link">1</a></li>
                    </ul>
                </nav>
            </div>
        {% else %}
            <h1>Request: {{ request }}</h1> <br> <h1>Num: {{ num }}</h1><h1>MAX Pages: {{ maxPages }}</h1>
            {% if maxPages > 1 %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>NumPages</th>
                        <th>Plot</th>
                        <th>PublishDate</th>
                        <th>Price</th>
                        <th>Type</th>
                        <th>Author</th>
                        <th> </th>
                        <th> </th>
                        <th> </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for book in books %}
                        <tr>
                            <td>{{ book.id }}</td>
                            <td>{{ book.title }}</td>
                            <td>{{ book.numPages }}</td>
                            <td>{{ book.plot }}</td>
                            <td>{{ book.publishDate ? book.publishDate|date('Y-m-d') : '' }}</td>
                            <td>{{ book.price }}</td>
                            <td>{{ book.type }}</td>
                            <td>{{ book.author }}</td>
                            <td>
                                <a href="{{ path('book_show', {'id': book.id}) }}"class="btn btn-outline-dark" role="button">show</a>
                            </td>
                            <td>
                                <a href="{{ path('book_edit', {'id': book.id}) }}" class="btn btn-outline-dark" role="button">edit</a>
                            </td>
                            <td>
                                <form method="post" action="{{ path('book_delete', {'id': book.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book.id) }}">
                                    <button class="btn btn-outline-dark">Delete</button>
                                </form>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {# `«` arrow  #}
                    <li class="page-item" {{ thisPage == 1 ? 'class="disabled"' }}> {# {_search: request } , {_num: num}#}
                        <a class="page-link" href="{{ path('search_index', {_search: request, _num: num, page: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
                    </li>

                    {# Render each page number #}
                    {% for i in 1..maxPages %}
                        <li class="page-item" {{ thisPage == i ? 'class="active"' }}> {# {_search: request } , {_num: num}#}
                            <a class="page-link" href="{{ path('search_index', {_search: request, _num: num, page: i}) }}">{{ i }}</a>
                        </li>
                    {% endfor %}

                    {# `»` arrow #}
                    <li class="page-item" {{ thisPage == maxPages ? 'class="disabled"' }}> {# {_search: request } , {_num: num}#}
                        <a class="page-link" href="{{ path('search_index', {_search: request, _num: num, page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
                    </li>
                </ul>
                </nav>
            {% endif %}
        {% endif %}
    {% endif %}

{% endblock %}
