<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}

            <!-- Renders a link tag (if your module requires any CSS)
                 <link rel="stylesheet" href="/build/app.css"> -->
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js" defer></script>
                <script src="/build/app.js" defer></script>
                See note below about the "defer" attribute -->
        {% endblock %}
    </head>
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('book_index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('author_index') }}">Authors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('book_type_index') }}">Booktypes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('search_index') }}">Search</a>
                </li>
            </ul>
            <form class="form-inline">
                <a href="{{ path('app_logout') }}" class="btn btn-outline-dark" role="button">Logout</a>
            </form>
        </div>
    </nav>
    {% endblock %}
    <body>
        <header class="header">
        </header>

        <main role="main" class="container mt-5">
            {% block body %}{% endblock %}
        </main>

        <footer>
        </footer>
    </body>
</html>
